body, section {
	width: 500px;
	height: 400px;
	overflow-x: hidden;
}

section { padding: 5px; }
nav { margin-bottom : 20px !important; }
.navbar-brand { padding-top : 13px !important; }

/* Scroll Bar */
::-webkit-scrollbar { width: 6px; }
::-webkit-scrollbar-track { -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); }
::-webkit-scrollbar-thumb, ::-webkit-scrollbar-thumb:window-inactive  { background: red; }
