//- forms.less
@import (reference) 'mixins';
@import (reference) 'colors';

@form-elem-height: 40px;

.input-group {
    .select2-container--default {
        .select2-selection--single {

            .select2-selection__rendered {
                line-height: @form-elem-height;
            }
        }
    }

    .select2-hidden-accessible {
        height: 0;
        display: none
    }
    .input-state(default);

    &.password-form:not(.has-feedback){
        .input-state(passwordDefault);
    }



    &.has-feedback {

        &.has-error {
            .input-state(error);
        }

        &.has-success {
            .input-state(success);
        }
    }
}

.has-error {
    .form-control, .form-control:focus {
        border-color: @orangey-red;
    }

    .form-control-feedback {
        color: @orangey-red;
        font-size: 1.25rem;
        line-height: 2;
    }
}

.has-success {
    .form-control, .form-control:focus {
        border-color: @lemon-green;
    }

    .form-control-feedback {
        color: @lemon-green;
        font-size: 1.25rem;
        line-height: 2;
    }
}

.form-control {
    .form-control-base;

    &.disabled,
    &:disabled,
    &[disabled],
    &[disabled="disabled"] {
        color: #aaa;
        background-color: #eee;
    }
}

.has-feedback .form-control {
  padding-right: 12px;
}

.select2-container--default .select2-results > .select2-results__options {
    overflow-x: hidden;
    body[dir="rtl"] & {
        text-align: right;
    }
}
