// /* General styles */

// @TODO:  DE16417:  Remove '#P_Toss_Diary' from below and remove this section from logpad/style.less.

// #application {
//   > div#P_Toss_Diary {
//     position: relative;
//     min-height: 100%;

//     &#login-view {
//       > div {
//         padding-bottom: 0;
//       }
//     }

//     > div {
//       padding-bottom: 50px;
//     }
//   }
// }

/* Width for media that is less than 768 px.  95% so it has a little bit of breathing room. */
@media (max-width: 767px) {
  .container {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}

/* Style for the canvas element of SignatureBox widget  */
div.signature-frame canvas {
  background-color: #DEDEDE;
  touch-action: none;
  display: block;
}

/* Style for clear button of SignatureBox widget  */
div.signature-frame div.signature-box {
  border: #000000 1px dashed;
  margin: 10px 0px 5px 0px;
}

/* Allows the Site User Name to go to the next line without truncating if it is one long word */
#site-user-name {
  word-wrap: break-word;
}

#site-user-list-content > div {
  border: 1px solid #7d8389;
}

.btn-default:focus {
    color: #FFFFFF;
}

.right-direction {
  direction: rtl;
}

.left-direction {
  direction: ltr;
}

/* The already existing .text-right css class aligns the text according to the direction of the current language. This class will always align right */
.text-right-absolute {
    text-align: right !important;
}

/* The already existing .text-left css class aligns the text according to the direction of the current language. This class will always align left */
.text-left-absolute {
    text-align: left !important;
}

/* A red background and border, indicating an error has occurred */
.ui-state-error {
    background         : #ff6b7f;
    border             : 1px solid red !important;
    box-shadow         : 0px 0px 12px #F00 !important/*{global-active-background-color}*/;
    opacity            : 0.7;
    -moz-box-shadow    : 0px 0px 12px #F00 !important /*{global-active-background-color}*/;
    -webkit-box-shadow : 0px 0px 12px #F00 !important /*{global-active-background-color}*/;
    -webkit-transition : opacity 1s linear;
}

/* A red border, indicating an error has occurred */
.ui-state-error-border {
    border             : 1px solid red;
    box-shadow         : 0px 0px 12px #F00 !important/*{global-active-background-color}*/;
    -moz-box-shadow    : 0px 0px 12px #F00 !important /*{global-active-background-color}*/;
    -webkit-box-shadow : 0px 0px 12px #F00 !important /*{global-active-background-color}*/;
}

/* Default select2-container to be full width of the container, so it handles resizes and restarts properly. */
.select2.select2-container {
  width: 100%;
}
