﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="survey.aspx.cs" Inherits="WebDiary.StudyPortal.Survey" validateRequest="false" %>
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />    
<asp:literal runat="server" id="script"></asp:literal>
            
<frameset>
  <frame id="frame" src="survey-internal.aspx" frameborder ="0" width="100%" height="100%" runat="server"></frame>
</frameset>
