@import 'ltr/layout';
@import 'rtl/layout';

.container-fluid {
    margin-left: 0;
    margin-right: 0;
}

.qr-code {
    margin: auto;
    display: table-cell;
    text-align: center;
}
#outerqr {
    display: table;
    margin-left: 10px;
}

#application {
    > div {
        display: flex;
        min-height: 100%;
        flex-direction: column;
        justify-content: space-between;
        align-items: stretch;

        > div {
            position: relative;
            flex-grow: 100;
        }
    }
}

div.affidavit-text {
    margin-bottom: 1em;
}
