.widget.hvas{
    canvas, img{
        #HVAS_TEST_S9_Q1 &,
        #HVAS_TEST_S10_Q1 &,
        #HVAS_TEST_S11_Q1 &{
            /* a little smaller to make room for other stuff */
            width  : 80%;
            margin : auto;
        }
    }
}
.widget.hvas{
    #vasCanvas, #arrowsCanvas{
        #HVAS_TEST_S9_Q1 &,
        #HVAS_TEST_S10_Q1 &,
        #HVAS_TEST_S11_Q1 &{
            left  : 0;
            right : 0;
        }
    }
}
