/* Question 3, custom CSS */
#RADIOBUTTON_TEST_S3_Q1 .btn,
#CHECKBOX_TEST_S3_Q1 .btn{
    border-color : green;
}
#RADIOBUTTON_TEST_S3_Q1 .btn.active,
#CHECKBOX_TEST_S3_Q1 .btn.active{
    border-color : red;
}
#RADIOBUTTON_TEST_S4_Q1 .btn-RADIOBUTTON_TEST_S4_Q1_radio_0,
#CHECKBOX_TEST_S4_Q1 .btn-CHECKBOX_TEST_S4_Q1_checkbox_0{
    font-size : 24px;
}
#RADIOBUTTON_TEST_S4_Q1 .btn-RADIOBUTTON_TEST_S4_Q1_radio_1,
#CHECKBOX_TEST_S4_Q1 .btn-CHECKBOX_TEST_S4_Q1_checkbox_1{
    font-size : 22px;
}
#RADIOBUTTON_TEST_S4_Q1 .btn-RADIOBUTTON_TEST_S4_Q1_radio_2,
#CHECKBOX_TEST_S4_Q1 .btn-CHECKBOX_TEST_S4_Q1_checkbox_2{
    font-size : 20px;
}
#RADIOBUTTON_TEST_S4_Q1 .btn-RADIOBUTTON_TEST_S4_Q1_radio_3,
#CHECKBOX_TEST_S4_Q1 .btn-CHECKBOX_TEST_S4_Q1_checkbox_3{
    font-size : 18px;
}
.btn-RADIOBUTTON_TEST_S4_Q1_radio_0, .btn-CHECKBOX_TEST_S4_Q1_checkbox_0{
    width  : 50%;
    height : 140px !important;
}
.btn-RADIOBUTTON_TEST_S4_Q1_radio_1, .btn-CHECKBOX_TEST_S4_Q1_checkbox_1{
    width  : 75%;
    height : 180px !important;
}
.btn-RADIOBUTTON_TEST_S4_Q1_radio_2, .btn-CHECKBOX_TEST_S4_Q1_checkbox_2{
    width  : 60%;
    height : 240px !important;
}
.btn-RADIOBUTTON_TEST_S4_Q1_radio_3, .btn-CHECKBOX_TEST_S4_Q1_checkbox_3{
    width : 75%;
}
.btn-RADIOBUTTON_TEST_S5_Q1_radio_0, .btn-CHECKBOX_TEST_S5_Q1_checkbox_0{
    height : 50px;
}
.btn-RADIOBUTTON_TEST_S5_Q1_radio_1, .btn-CHECKBOX_TEST_S5_Q1_checkbox_1{
    height : 75px;
}
.btn-RADIOBUTTON_TEST_S5_Q1_radio_2, .btn-CHECKBOX_TEST_S5_Q1_checkbox_2{
    height : 85px;
}
.btn-RADIOBUTTON_TEST_S5_Q1_radio_3, .btn-CHECKBOX_TEST_S5_Q1_checkbox_3{
    height : 100px;
}
#RADIOBUTTON_TEST_S6_Q1 .btn, #CHECKBOX_TEST_S6_Q1 .btn{
    text-align : center;
}
#RADIOBUTTON_TEST_S6_Q1 .btn label, #CHECKBOX_TEST_S6_Q1 .btn label{
    margin : auto;
}
/*
div.CustomNumericRatingScale label.radio_0 div {
    font-size: 14px;
}

div.CustomNumericRatingScale label.radio_1 div {
    font-size: 18px;
}

div.CustomNumericRatingScale label.radio_2 div {
    font-size: 22px;
}
*/

div.CustomNumericRatingScale label{
    font-size : 24px;
}
div.CustomNumericRatingScale div.markers{
    font-weight : bold;
}
