/*Insert custom CSS here or separate into new files*/

/*Sample localized CSS*/
/*
body:lang(es-US) .TRN075 .text {
    font-size: .9em;
}
*/

/*Base styles*/
.screen{
    padding-bottom : 0px !important;
}
div.NumericRatingScale div.markers{
    align-items : flex-start;
}
