﻿@media print, screen {
    body {
        color: #454545;
        font: 75%/1.3 arial,helvetica,sans-serif;
        margin:0;
        padding:0;
    }

    #content
    {
        margin-left:auto;
        margin-right:auto;
        width:70%;
    }

    #header {
	    margin-left:auto;
        margin-right:auto;
        margin-top: 5px;
        margin-bottom:15px;
        width:70%;
    }

    .title 
    {
        font-size: 15pt;
	    font-weight: bold;
    }

    input[type="button"] {
        padding: 1px 5px;
    }
    
    ol 
    {
        list-style-type:decimal;
    }
    
    #instruction li
    {
        margin-top: 2px;
        margin-bottom: 2px;
    }    
    
    #footer 
    {
        text-align: center;
	    border-top: 1px solid #ccc;
	    font-size: .8em;
	    overflow: hidden;
	    margin-top:5px;
    }

    #footer ul
    {
        margin-top:5px;
	    text-align:center;	
    }

    #footer li 
    {
        display: inline;
	    padding: 0 4px;
	    border-right: 1px solid #454545;
    }
		
    #footer li.last 
    {
	    border: 0;
    }
    
    .valign 
    {
        vertical-align: baseline;
    }
    
    .valign2 
    {
        vertical-align: middle;
    }        
    .alignImg
    {
        margin-top: 1px;
        margin-bottom: 7px;    
    }
    
    .openingLine 
    {
        font-weight: bold;
        font-size: 13px;
    }    
}

@media screen 
{
    #printBtnContainer
    {
        position:absolute;
        right:0px;        
        margin-right: 20px;
        visibility: visible;
    }
}

@media print 
{    
    #printBtnContainer
    {
        visibility: hidden;
    }
}