body[dir='rtl'] {

    .select2-col-overrides() {
        float: right;

        &.no-flip {
            float: left;
        }
        &.ltr-select2 {
            .select2-container--default .select2-selection--single .select2-selection__arrow {
                right: 10px;
                left: auto;
            }
        }
    }

    .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
        .select2-col-overrides;
    }

    @media (min-width: 768px) {
        .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
            .select2-col-overrides;
            .dl-horizontal dt {
                .select2-col-overrides;
            }
        }
    }

    .left {
        float: right;
    }

    .pull-left {
        float: right !important;
    }

    .pull-right {
        float: left !important;
    }

    &.subheader {
        text-align: right;
    }

    .text-left {
        text-align: right !important;
    }

    .text-right {
        text-align: left !important;
    }

    .admin-icon {
        padding-right: 35px;
        background-position: right 5px center !important;
    }

    .list-group {
        padding-right: 0;
    }

    .noty_message {
        .glyphicon, .fa {
            margin-left: 10px;
        }
    }

    .container-fluid {
        &.navbar-secondary {
            .sync-item {
                text-align: left;
            }
        }
    }

    .has-feedback .form-control {
        padding-left: 42.5px;
    }

    .form-control-feedback {
        left: 0;
    }

    #forgot-password , #unlock-code{
        float: left;
    }

    .select2-container--default .select2-selection--single .select2-selection__arrow {
        left: 10px;

        b {
            right: 50%;
            margin-right: -4px;
        }
    }

    #set-alarms-page {
        >.container-fluid {
            .list-group-item {
                .navigate-right {
                    span {
                        &:first-child {
                            padding-left: 6.625rem;
                        }

                        &:last-child {
                            &.glyphicon-menu-right, &.direction-right {
                                width: initial;
                                &:before {
                                    content: none;
                                }

                            }
                        }
                    }

                }
            }
        }
    }

    li.select2-results__option,
    #set-time-zone-page {
        .tz-value-dropdown {
            float: right;
        }
    }

    // DE17356 - https://rally1.rallydev.com/#/37751416407ud/detail/defect/63139767265
    #set-time-zone-activation-page,
    #Time_Confirmation {
        .select2-selection__rendered {
            text-align: right;
        }
    }

    .fa-reply {
        filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1);
        .transform(scale(-1, 1));
    }
}
