<!-- INSTALL TEMPLATE
    @param header Displayed application header.
    @param title Displayed page title.
-->
<script id="install-template" type="text/template">

    <header class="navbar navbar-inverse navbar-static-top navbar-primary">
        <div class="container-fluid text-center">
            <h4 class="navbar-text">
                <img src="./media/images/logo.png" height="25px" /> 
                {{ header }}
            </h4>
        </div>
    </header>

    <section class="navbar navbar-secondary subheader">
        <div class="container-fluid">
            <h4 class="navbar-text">{{ title }}</h4>
        </div>
    </section>

    <div class="container-fluid">

    </div>

</script>