<!-- SUPPORT TEMPLATE
    @param header The text to display for the application's header.
    @param title The text to display for the page's title.
-->
<script id="support-template" type="text/template">

    <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container-fluid">
            <div class="row">
            <div class="col-xs-2">
            </div>
                <div class="col-xs-8 text-center">
                    <h4 class="navbar-text">{{ title }}</h4>
                </div>
                <div class="col-xs-2"></div>

            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="form-group">
                <label for="support_dropdown" class = 'support-message-text'>{{ supportPageMessage }}</label>
                <select id="support_dropdown" class=" center form-control" name="support_dropdown_{{ key }}" tabindex="2">
                <option value="{{supportDropdownDefault}}">{{supportDropdownDefault}}</option>
                </select>
        </div>

        <ul id="support-list" class="list-group">
        </ul>
    </div>

    <footer id="footer" class="footer">
        <div class="single-btn">
            <button id="back" class="btn btn-lg btn-primary nav-backward">
                <span class="glyphicon glyphicon-menu-left"></span>
                <span class="text">{{ back }}</span>
            </button>
        </div>
    </footer>
</script>
