<!-- TOOLBOX TEMPLATE
	@param title The text to display for the page's title.
	@param about The text to display for the about button.
	@param change-password The text to display for the change password button
	@param change-secret-question The text to display for the change secret question button
	@param privacy-policy The text to display for the privacy policy button
	@param transmit The text to display for the update button
	@param setAlarms The text to display for the set alarms button
-->
<script id="toolbox-template" type="text/template">

	<header class="navbar navbar-inverse navbar-static-top navbar-primary">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-2">
					<span id="back" class="pull-left">
						<span class="fa fa-reply"></span>
					</span>
				</div>
				<div class="col-xs-8 text-center">
					<h4 class="navbar-text">{{ title }}</h4>
				</div>
				<div class="col-xs-2"></div>
			</div>
		</div>
	</header>

	<div class="container-fluid">

		<div id="toolbox-list" class="list-group">

			<a id="logout" class="list-group-item">
				<span class="navigate-right">
					<span class="title-block"><p class="title">{{ logout }}</p></span>
					<span class="glyphicon glyphicon-menu-right"></span>
				</span>
			</a>

			<a id="about-btn" class="list-group-item">
				<span class="navigate-right">
					<span class="title-block"><p class="title">{{ about }}</p></span>
					<span class="glyphicon glyphicon-menu-right"></span>
				</span>
			</a>

			<a id="transmit" class="list-group-item">
				<span class="navigate-right">
					<span class="title-block"><p class="title">{{ transmit }}</p></span>
					<span class="glyphicon glyphicon-menu-right"></span>
				</span>
			</a>

			<a id="set-alarms" class="hidden list-group-item">
				<span class="navigate-right">
					<span class="title-block"><p class="title">{{ setAlarms }}</p></span>
					<span class="glyphicon glyphicon-menu-right"></span>
				</span>
			</a>

			<a id="set-time-zone" class="hidden list-group-item">
				<span class="navigate-right">
					<span class="title-block"><p class="title">{{ setTimeZone }}</p></span>
					<span class="glyphicon glyphicon-menu-right"></span>
				</span>
			</a>

			<a id="change-password" class="hidden list-group-item">
				<span class="navigate-right">
					<span class="title-block"><p class="title">{{ changePassword }}</p></span>
					<span class="glyphicon glyphicon-menu-right"></span>
				</span>
			</a>

			<a id="change-secret-question" class="hidden list-group-item">
				<span class="navigate-right">
					<span class="title-block"><p class="title">{{ changeSecretQuestion }}</p></span>
					<span class="glyphicon glyphicon-menu-right"></span>
				</span>
			</a>

            <a id="support" class="list-group-item">
                <span class="navigate-right">
                    <span class="title-block"><p class="title">{{ support }}</p></span>
                    <span class="glyphicon glyphicon-menu-right"></span>
                </span>
            </a>

			<a id="privacy-policy" class="list-group-item">
				<span class="navigate-right">
					<span class="title-block"><p class="title">{{ privacyPolicy }}</p></span>
					<span class="glyphicon glyphicon-menu-right"></span>
				</span>
			</a>

			<a id="messagebox-screenshots" class="hidden list-group-item">
				<span class="navigate-right">
					<span class="title-block">Take MessageBox Screenshots</span>
					<span class="glyphicon glyphicon-menu-right"></span>
				</span>
			</a>

		</div>

	</div>

</script>
