<script id="user-name-login-selection-option" type="text/template">
    <div class="clearfix width-full">
        <div dir="{{ item.dir }}" class="pull-left selection-text width-full"{[ 
            if (item.fontFamily) { 
                ]} style="font-family: {{ item.fontFamily }} !important;" {[
            } 
        ]}>
            <div class="width-full {{ item.cssClass }}"><strong>{{ item.userName }}</strong></div>
        </div>
    </div>
</script>

<script id="user-name-login-option" type="text/template">
    <div class="clearfix width-full">
        <div dir="{{ item.dir }}" class="pull-left result-select-login-image width-full{[ 
            if (item.iconClass) { 
                ]} {{ item.iconClass }}{[ 
            } 
        ]}"{[
            if (item.fontFamily) { 
                ]} style="font-family: {{ item.fontFamily }} !important;"{[
            } 
        ]}>
            <div class="width-full {{ item.cssClass }}"><strong>{{ item.userName }}</strong></div>
            <div class="width-full {{ item.cssClass }}"><strong>{{ item.roleLabel }}</strong> {{ item.roleDisplayName }}</div>
        </div>
    </div>
</script>