input[type=checkbox], input[type=radio]{display: none;} 
span.cb, span.rd {display: inline-block;  background: transparent url(../Images/checkbox.png) no-repeat 0 0; width:35px; height:37px; vertical-align:middle; }
span.rd{background: transparent url(../Images/radio.png) no-repeat 0 0;}
input[type=checkbox]:checked + span, input[type=radio]:checked + span {background-position: 0 -37px;}