body{background-color:#FFFFFF;font-family:Tahoma, MS Mincho, MS Gothic;font-weight:Normal;text-decoration:None;font-style:Normal;color:#333333;font-size:14px;}
.Matrix .header{background-color:#9dbeff;font-size:14px;font-weight:Normal;text-decoration:None;font-style:Normal;color:#ffffff;}
.Matrix .header td{background-color:#9dbeff;font-size:14px;font-weight:Normal;text-decoration:None;font-style:Normal;color:#ffffff;}
.Matrix .header th{background-color:#9dbeff;font-size:14px;font-weight:Normal;text-decoration:None;font-style:Normal;color:#ffffff;}
.Matrix .subheader{background-color:#dedede;font-size:14px;font-weight:Normal;text-decoration:None;font-style:Normal;color:#333333;}
.Matrix .subheader td{background-color:#dedede;font-size:14px;font-weight:Normal;text-decoration:None;font-style:Normal;color:#333333;}
.Matrix .Item{background-color:#dedede;font-size:14px;font-weight:Normal;text-decoration:None;font-style:Normal;color:#333333;}
.Matrix .Item td{background-color:#dedede;font-size:14px;font-weight:Normal;text-decoration:None;font-style:Normal;color:#333333;}
.Matrix .AlternatingItem{background-color:#ffffff;font-size:14px;font-weight:Normal;text-decoration:None;font-style:Normal;color:#333333;}
.Matrix .AlternatingItem td{background-color:#ffffff;font-size:14px;font-weight:Normal;text-decoration:None;font-style:Normal;color:#333333;}
.Matrix{border-color:#333333;border-width:0px;border-style:solid;}
.title{font-weight:Bold;text-decoration:None;font-style:Normal;color:#333333;font-size:16px;}
.PageNumber{font-weight:Normal;text-decoration:None;font-style:Normal;color:#333333;}
.Error{font-weight:Normal;text-decoration:None;font-style:Normal;color:#FF0000;}
.Question{font-weight:Bold;text-decoration:None;font-style:Normal;color:#333333;font-size:16px;}
.Description{font-weight:Bold;text-decoration:None;font-style:Normal;color:#333333;font-size:14px;}
.Answer{font-weight:Normal;text-decoration:None;font-style:Normal;color:#333333;}
.Matrix .Answer{font-size:14px;font-weight:Normal;text-decoration:None;font-style:Normal;color:#ffffff;}
.Matrix .Answer td{font-size:14px;font-weight:Normal;text-decoration:None;font-style:Normal;color:#ffffff;}
.Page{height:25px;}
.button{font-weight:Normal;text-decoration:None;font-style:Normal;border-style:solid;border-width:1px;border-color:#000000;font-size:16px !important; padding: 5px 8px !important;}
.ProgressBar{height:15px;width:250px;border-style:solid;border-color:#000000;border-width:1px;}
.ProgressBarInner{height:15px;background-color:#9dbeff;width:250px;}