<!-- CHANGE TEMPORARY PASSWORD TEMPLATE
    @param header The text to display for the application's header.
    @param title The text to display for the pages title.
    @param activatedElsewhere Text to display on replaced device
    @param newPassword Label for the new password input.
    @param confirmPassword Label for the confirm password input.
    @param submitIcon The icon to display for the submit button.
    @param submit The text to display for the submit button.
    @param passwordRules List of Password Rules.
    @param key A generated key to keep each input name unique.
-->
<script id="change-temporary-password-template" type="text/template">

    <header class="navbar navbar-inverse navbar-static-top navbar-primary">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-2"></div>
                <div class="col-xs-8 text-center">
                    <h4 class="navbar-text">
                        <img src="./media/images/logo.png" height="25px" /> 
                        {{ header }}
                    </h4>
                </div>
                <div class="col-xs-2"></div>
            </div>
        </div>
    </header>

    <section class="navbar navbar-default navbar-static-top navbar-secondary subheader">
        <div class="container-fluid">
            <h4 class="navbar-text">{{ title }}</h2>
        </div>
    </section>

    <div class="container-fluid">
        <div class="content-padded">

            <div id="inactiveMsg"  class="hidden" data-role="content" data-theme="b">
                <h4>{{ activatedElsewhere }}</h4>
            </div>

            <form id="changePasswordForm" class="form" data-ajax="false" autocomplete="off">

                <div class="form-group">
                    <div>
                        <label for="txtNewPassword" onclick=" return false">{{ newPassword }}</label>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <span class="fa fa-asterisk"></span>
                        </span>
                        <input
                            type="password"
                            class="form-control"
                            name="txtNewPassword_{{ key }}"
                            id="txtNewPassword"
                            value="" />
                    </div>
                </div>

                {{ passwordRules }}

                <div class="form-group">
                    <div>
                        <label for="txtConfirmPassword" onclick=" return false">{{ confirmPassword }}</label>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <span class="fa fa-asterisk"></span>
                        </span>
                        <input
                            type="password"
                            class="form-control"
                            name="txtConfirmPassword_{{ key }}"
                            id="txtConfirmPassword"
                            value="" />
                    </div>
                </div>

            </form>

        </div>
    </div>

    <footer id="footer" class="footer">
        <div class="multiple-btns">
            <button id="back" class="btn btn-lg btn-primary nav-backward">
                <span class="glyphicon glyphicon-menu-left"></span>
                <span class="text">{{ back }}</span>
            </button>

            <button id="submit" class="btn btn-lg btn-primary nav-forward" disabled>
                <span class="text">{{ submit }}</span>
                <span class="glyphicon glyphicon-menu-right"></span>
            </button>
        </div>
    </footer>
</script>
