<script id="confirm-template" type="text/template">

	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close hidden" data-dismiss="modal" aria-hidden="true">&times;</button>
				
				<h4 class="modal-title"><span>{{ header }}</span></h4>
			</div>

			<!-- Body -->
			<div class="modal-body">
				{{ body }}
			</div>

			<!-- Footer -->
			<footer class="modal-footer">
				<button 
					id="cancel" 
					class="btn btn-default">
					{{ cancel }}
				</button>
				<button 
					id="ok"
					class="btn btn-default">
					{{ ok }}
				</button>
			</footer>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->

</script>