<div class="modal fade" id="qrcode-modal">
 <div class="modal-dialog">
  <div class="modal-content">
   <div class="modal-header">
    <h5 class="modal-title" id="qrModalTitle">{{ title }}</h5>
   </div>
   <div class="modal-body">

    <div id="qrcodemodal">
     <div id="modal-qr-code"></div>
    </div>

   </div>
   <div class="modal-footer">
    <button id="qrclosebutton" type="button" class="btn btn-default" data-dismiss="modal">{{ text }}</button>
   </div>
  </div>
 </div>
</div>
