<!-- RESET PASSWORD TEMPLATE
    @param header The text to display for the application's header.
    @param title The text to display for the pages title.
    @param newPassword Label for the new password input.
    @param confirmPassword Label for the confirm password input.
    @param submitIcon The icon to display for the submit button.
    @param submit The text to display for the submit button.
    @param passwordRules List of Password Rules.
    @param key A generated key to keep each input name unique.
-->
<script id="reset-password-template" type="text/template">

    <header class="navbar navbar-inverse navbar-static-top navbar-primary">
        <div class="container-fluid text-center">
            <h4 class="navbar-text">
                <img src="./media/images/logo.png" height="25px" /> 
                {{ header }}
            </h4>
        </div>
    </header>

    <section class="navbar navbar-static-top navbar-secondary subheader">
        <div class="container-fluid">
            <h4 class="navbar-text">{{ title }}</h4>
        </div>
    </section>

    <div class="container-fluid">

        <form class="form" data-ajax="false" autocomplete="off">

            <!-- New Password -->
            <div class="form-group">
                <div>
                    <label for="txtNewPassword" onclick="return false">{{ newPassword }}</label>
                </div>
                <div class="input-group">
                    <span class="input-group-addon">
                        <span class="fa fa-asterisk"></span>
                    </span>
                    <input type="password" name="txtNewPassword_{{ key }}" id="txtNewPassword" class="form-control" value="" />
                </div>
                <br />
                {{ passwordRules }}
            </div>

            <!-- Confirm Password -->
            <div class="form-group">
                <div>
                    <label for="txtConfirmPassword" onclick="return false">{{ confirmPassword }}</label>
                </div>
                <div class="input-group">
                    <span class="input-group-addon">
                        <span class="fa fa-asterisk"></span>
                    </span>
                    <input type="password" name="txtConfirmPassword_{{ key }}" id="txtConfirmPassword" class="form-control" value="" />
                </div>
            </div>

        </form>

    </div>

    <footer id="footer" class="footer">
        <div class="single-btn">
            <button disabled id="submit" class="btn btn-lg btn-primary nav-forward">
                <span class="text">{{ submit }}</span>
                <span class="glyphicon glyphicon-menu-right"></span>
            </button>
        </div>
    </footer>
</script>