/*HEADER CSS*/
li.reveiwScreen_Headers{
    list-style : none;
}
li.reveiwSCreen_Headers div{
    display        : flex;
    flex-direction : row;
}
/*ITEMS CSS*/
ul.reviewScreen_Items{
    list-style    : none;
    padding       : 5px;
    border        : 1px solid #000000;
    border-radius : 10px;
    max-height    : 240px;
}
ul.reviewScreen_Items li.item{
    border-radius : 10px;
    padding       : 5px;
    margin        : 0 0 3px 0;
    border        : 1px solid #000000;
}
ul.reviewScreen_Items li.item.not-selectable{
    background : #EEEEEE;
}
li.item.selected{
    background : #D0DD40;
}
/*BUTTONS CSS*/
ul.reviewScreen_Buttons{
    list-style : none;
    margin     : 0;
    padding    : 0 0 20px 0;
}
ul.reviewScreen_Buttons li.button{
    text-align : center;
    background : #024E80;
    padding    : 10px;
    border     : 3px solid #035F8F;
}
ul.reviewScreen_Buttons li.button a{
    text-decoration : none;
    color           : white;
}
/*EDIT INSTRUCTION TEXT*/
div.reviewScreen p.edit-instructions{
    text-align : center;
}
