.scanBtn {
    background: url(../media/images/scanner.png) no-repeat center;
    background-size   : 6em 6em;
    width             : 6em;
    height            : 6em;
    margin            : 1em auto;
    border            : 2px solid #7B6B6B;
}
