.DATE_PICKER_HELP {
    font-size: small;
    font-style: italic;
}

/* Set color of inactive days */
.ui-datebox-griddate-disable {
    color: #DADADA;
}

/* Set the color of inactive days of inactive month but NOT the days of the week labels */
.ui-datebox-griddate-empty:not(.ui-datebox-griddate-label) {
    color: silver;
}

/* Add button theme Z for coloring selected days in calendar widget */
.ui-btn-up-z {
    border: 1px solid #cccccc /*{c-bup-border}*/;
    background: #262626 /*{c-bup-background-color}*/;
    font-weight: bold;
    color: #ffffff /*{c-bup-color}*/;
    text-shadow: 0 /*{c-bup-shadow-x}*/ 1px /*{c-bup-shadow-y}*/ 0 /*{c-bup-shadow-radius}*/ #000000 /*{c-bup-shadow-color}*/;
    background-image: -webkit-gradient(linear, left top, left bottom, from( #595959 /*{c-bup-background-start}*/), to( #191919 /*{c-bup-background-end}*/)); /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient( #595959 /*{c-bup-background-start}*/, #191919 /*{c-bup-background-end}*/); /* Chrome 10+, Saf5.1+ */
    background-image:    -moz-linear-gradient( #595959 /*{c-bup-background-start}*/, #191919 /*{c-bup-background-end}*/); /* FF3.6 */
    background-image:     -ms-linear-gradient( #595959 /*{c-bup-background-start}*/, #191919 /*{c-bup-background-end}*/); /* IE10 */
    background-image:      -o-linear-gradient( #595959 /*{c-bup-background-start}*/, #191919 /*{c-bup-background-end}*/); /* Opera 11.10+ */
    background-image:         linear-gradient( #595959 /*{c-bup-background-start}*/, #191919 /*{c-bup-background-end}*/);
}
.ui-btn-up-z a.ui-link-inherit {
    color: #ffffff /*{c-bup-color}*/;
}

.ui-btn-down-z {
    border: 1px solid #bbbbbb /*{c-bhover-border}*/;
    background: #dfdfdf /*{c-bhover-background-color}*/;
    font-weight: bold;
    color: #ffffff /*{c-bhover-color}*/;
    text-shadow: 0 /*{c-bhover-shadow-x}*/ 1px /*{c-bhover-shadow-y}*/ 0 /*{c-bhover-shadow-radius}*/ #000000 /*{c-bhover-shadow-color}*/;
    background-image: -webkit-gradient(linear, left top, left bottom, from( #5e5e5e /*{c-bhover-background-start}*/), to( #2e2e2e /*{c-bhover-background-end}*/)); /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient( #5e5e5e /*{c-bhover-background-start}*/, #2e2e2e /*{c-bhover-background-end}*/); /* Chrome 10+, Saf5.1+ */
    background-image:    -moz-linear-gradient( #5e5e5e /*{c-bhover-background-start}*/, #2e2e2e /*{c-bhover-background-end}*/); /* FF3.6 */
    background-image:     -ms-linear-gradient( #5e5e5e /*{c-bhover-background-start}*/, #2e2e2e /*{c-bhover-background-end}*/); /* IE10 */
    background-image:      -o-linear-gradient( #5e5e5e /*{c-bhover-background-start}*/, #2e2e2e /*{c-bhover-background-end}*/); /* Opera 11.10+ */
    background-image:         linear-gradient( #5e5e5e /*{c-bhover-background-start}*/, #2e2e2e /*{c-bhover-background-end}*/);
}
.ui-btn-down-z a.ui-link-inherit {
    color: #ffffff /*{c-bhover-color}*/;
}
.ui-btn-hover-z {
    border: 1px solid #bbbbbb /*{c-bdown-border}*/;
    background: #d6d6d6 /*{c-bdown-background-color}*/;
    font-weight: bold;
    color: #2F3E46 /*{c-bdown-color}*/;
    text-shadow: 0 /*{c-bdown-shadow-x}*/ 1px /*{c-bdown-shadow-y}*/ 0 /*{c-bdown-shadow-radius}*/ #ffffff /*{c-bdown-shadow-color}*/;
    background-image: -webkit-gradient(linear, left top, left bottom, from( #d0d0d0 /*{c-bdown-background-start}*/), to( #dfdfdf /*{c-bdown-background-end}*/)); /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient( #d0d0d0 /*{c-bdown-background-start}*/, #dfdfdf /*{c-bdown-background-end}*/); /* Chrome 10+, Saf5.1+ */
    background-image:    -moz-linear-gradient( #d0d0d0 /*{c-bdown-background-start}*/, #dfdfdf /*{c-bdown-background-end}*/); /* FF3.6 */
    background-image:     -ms-linear-gradient( #d0d0d0 /*{c-bdown-background-start}*/, #dfdfdf /*{c-bdown-background-end}*/); /* IE10 */
    background-image:      -o-linear-gradient( #d0d0d0 /*{c-bdown-background-start}*/, #dfdfdf /*{c-bdown-background-end}*/); /* Opera 11.10+ */
    background-image:         linear-gradient( #d0d0d0 /*{c-bdown-background-start}*/, #dfdfdf /*{c-bdown-background-end}*/);
}
.ui-btn-hover-z a.ui-link-inherit {
    color: #2F3E46 /*{c-bdown-color}*/;
}
.ui-btn-up-z,
.ui-btn-hover-z,
.ui-btn-down-z {
    font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
    text-decoration: none;
}

/* increase font size on calendar widget text */
.ui-datebox-griddate {
    font-size: medium !important;
}

/*IOS disable text selection on button*/
.ui-btn {
    -webkit-user-select: none;
}