@form-elem-height: 40px;

#login-view, #context-switching-view {
    #userLoginForm {
        label {
            color: @white;
        }

        .input-group {
            // border-radius: 4px;
            .select2-container--default {
                .select2-selection--single {
                    .form-control-styles(@border-color: @blue-inverse);
                }
            }

            .input-state-styles(@glyph-color-blue, @addon-bg-color, @blue-inverse);

            &.has-feedback.has-error {
                .input-state(error);
            }
        }

        #forgot-password {
            color: @white;
            margin-bottom: 35px;
        }

        button#login {
            &.disabled,
            &:disabled,
            &[disabled],
            &[disabled="disabled"] {
                color: lighten(@blue-inverse, 10%);
            }
            opacity: 1;
            background-color: @blue-inverse;
            padding: 12px 12px;
            border: 0;
            font-weight: 400;
            font-size: 1.25em;
            .box-shadow(0px, 3px, 0px, @blue-dark);           
        }
    }
}