<script id="login-tpl" type="text/template">

    <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-4 header-item text-left">
                    <!-- DE16957 https://rally1.rallydev.com/#/36503486296ud/detail/defect/59556929940
                    <span class="pull-left header-help">
                        <i class="fa fa-question-circle header-icon"></i>
                        <span>{{ help }}</span>
                    </span>-->
                </div>
                <div class="col-sm-4 text-center">
                    <h4 class="navbar-text">
                        <img src="./media/images/logo.png" height="25px"/>
                        <span>{{ header }}</span>
                    </h4>
                </div>
                <div class="col-sm-4 header-item text-right">
                    <!-- DE16957 https://rally1.rallydev.com/#/36503486296ud/detail/defect/59556929940
                    <span id="settings-btn" class="pull-right header-settings">
                        <span>{{ settings }}</span>
                        <i class="fa fa-cog header-icon"></i>
                    </span>-->
                </div>
            </div>
        </div>
    </nav>

	<div class="container-fluid">

		<div class="row">
			<div class="col-xs-6">
			</div>
			<div id="sync-button" class="col-xs-6 text text-right" disabled>
                <span id="pending-transmission-count"></span>
				<span><i class="fa fa-refresh icon"></i></span><br />
				<span class="text-right">{{ sync }}</span>
			</div>
		</div>

		<div class="row">

			<div class="col-sm-3"></div>

			<div class="col-sm-6">

				<div class="intro">
					<h3>{{ welcome }}</h3>
				</div>

				<form id="userLoginForm">
                    <div class="form-group">
                        <div>
                            <label for="user">{{ user }}:</label>
                        </div>
                        <div class="input-group">
                            <select id="user" class="form-control" name="user" data-placeholder="Select User"></select>
                        </div>
                    </div>
                    <div id="admin-language-selection" class="form-group hidden">
                        <div>
                            <label for="languages">{{ language }}</label>
                        </div>
                        <div>
                            <select name="languages" id="languages" class="form-control" data-placeholder="Select Language"></select>
                        </div>
                    </div>
                    <!-- Password -->
                    <div class="form-group">
                        <div>
                            <label for="password">{{ password }}</label>
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon"><span class="fa fa-asterisk"></span> </span>
                            <input id="password" class="form-control" name="password" type="password"
                                   placeholder="{{ password }}..."/>
                        </div>
                    </div>

                    <p id="forgot-password" class="text-left text-underline">
                        {{ forgotPassword }}
                    </p>

                    <button id="login" class="btn btn-primary btn-block" type="button" disabled>
                        {{ login }}
                    </button>
                </form>

			</div>

			<div class="col-sm-3"></div>

		</div>

	</div>

    <footer id="footer" class="footer hidden">
        <div class="multiple-btns">
            <button id="back" class="btn btn-lg btn-primary nav-backward">
                <span class="glyphicon glyphicon-menu-left"></span>
                <span class="text">{{ back }}</span>
            </button>

            <button id="next" class="btn btn-lg btn-primary nav-forward">
                <span class="text">{{ next }}</span>
                <span class="glyphicon glyphicon-menu-right"></span>
            </button>
        </div>
    </footer>

</script>
