<script id="secret-question-template" type="text/template">

    <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-4 header-item text-left">
                    <!-- DE16957 https://rally1.rallydev.com/#/36503486296ud/detail/defect/59556929940
                    <span class="pull-left header-help">
                        <i class="fa fa-question-circle header-icon"></i>
                        <span>{{ help }}</span>
                    </span>-->
                </div>
                <div class="col-sm-4 text-center">
                    <h4 class="navbar-text">
                        <img src="./media/images/logo.png" height="25px"/>
                        <span>{{ header }}</span>
                    </h4>
                </div>
                <div class="col-sm-4 header-item text-right">
                    <!-- DE16957 https://rally1.rallydev.com/#/36503486296ud/detail/defect/59556929940
                    <span id="settings-btn" class="pull-right header-settings">
                        <span>{{ settings }}</span>
                        <i class="fa fa-cog header-icon"></i>
                    </span>-->
                </div>
            </div>
        </div>
    </nav>

    <div id="content" class="container-fluid new-user">

        <div class="row">
            <div class="col-sm-2"></div>

            <div class="col-sm-8">

                <form id="secretQuestionForm">

                    <legend>{{ title }}</legend>

                    <div class="form-group">
                        <strong>{{ legend }}</strong> <br> <br>
                        <strong>{{ patientID }}</strong><br>
                        <strong>{{ user }}</strong>
                    </div>

                    <div class="form-group">
                        <label for="secret_question">{{ secretQuestion }}</label>
                        <select class="form-control" name="secret_question" id="secret_question"></select>
                    </div>

                    <div class="form-group">
                        <label for="secret_answer">{{ secretAnswer }}</label>
                        <input type="text" class="form-control" name="secret_answer" id="secret_answer"
                               value=""/>
                    </div>



                </form>

            </div>

            <div class="col-sm-2"></div>
        </div>

    </div>

    <footer id="footer" class="footer">
        <div class="multiple-btns">
            <button id="back" class="btn btn-lg btn-primary nav-backward">
                <span class="glyphicon glyphicon-menu-left"></span>
                <span class="text">{{ back }}</span>
            </button>

            <button id="cancel" class="btn btn-lg btn-primary" style="display:none;">
                <span class="text">{{ cancel }}</span>
            </button>

            <button id="next" class="btn btn-lg btn-primary nav-forward" disabled>
                <span class="text">{{ next }}</span>
                <span class="glyphicon glyphicon-menu-right"></span>
            </button>
        </div>
    </footer>
</script>
