<script id="site-users-tpl" type="text/template">

    <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-2"></div>
                <div class="col-xs-8">
                    <div class="container-fluid text-center">
                        <h4 class="navbar-text">
                            <img src="./media/images/logo.png" height="25px" />
                            <span>{{ header }}</span>
                        </h4>
                    </div>
                </div>
                <div class="col-xs-2"></div>
            </div>
        </div>
    </nav>

    <div class="container-fluid home">

        <div class="row row-01">

            <div class="col-xs-3">
                <div class="clearfix">
                    <div class="pull-left site-image">
                        <img src="./media/images/doctor.png" width="64px" height="64px"/>
                    </div>
                    <div class="pull-left site-text">
                        <div><strong>{{ username }}</strong></div>
                        <div class="text-muted">{{ role }}</div>
                    </div>
                </div>
            </div>

            <div id="back" class="col-xs-1 text-center">
                <span><i class="fa fa-arrow-left"></i></span>
            </div>

            <div id="content-header" class="col-xs-7">
                <span>{{ title }}</span>
            </div>

            <div id="transmit" class="col-xs-1 text-center">
                <span id="pending-transmission-count"></span>
                <span><i class="fa fa-refresh icon"></i></span>
            </div>

        </div>
        <!-- / .row -->
    </div>

    <div class="container-fluid snap-bottom">
        <div class="row row-02">

            <div class="col-xs-3">
                <div class="list-group">
                    <button id="edit-user-btn" class="list-group-item" disabled>
                        <i class="fa fa-edit"></i>
                        {{ editUser }}
                    </button>
                    <button id="activate-user-btn" class="list-group-item" disabled>
                        <i class="fa fa-user-plus"></i>
                        {{ activateUser }}
                    </button>
                    <button id="deactivate-user-btn" class="list-group-item" disabled>
                        <i class="fa fa-user-times"></i>
                        {{ deactivateUser }}
                    </button>

                    <button id="add-site-user-btn" class="list-group-item no-action">
                        <i class="fa fa-plus-circle"></i>
                        {{ addUser }}
                    </button>
                </div>

                <div class="detail-list">
                    <dl class="dl-horizontal">
                        <!-- Study Version -->
                        <dt>{{ studyVersion }}</dt>
                        <dd>{{ studyVersionVal }}</dd>

                        <!-- Protocol -->
                        <dt>{{ protocol }}</dt>
                        <dd>{{ protocolVal }}</dd>

                        <!-- Site -->
                        <dt>{{ site }}:</dt>
                        <dd>{{ siteCode }}</dd>

                        <!-- Sponsor -->
                        <dt>{{ sponsor }}</dt>
                        <dd>{{ sponsorVal }}</dd>
                    </dl>
                </div>
            </div>

            <div class="col-xs-9">
                <div class="table-wrapper fill-container"></div>
            </div>

        </div>

    </div>

</script>
