<script id="visit-gateway-template" type="text/template">
    <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-4 header-item text-left">
                    <!-- DE16957 https://rally1.rallydev.com/#/36503486296ud/detail/defect/59556929940
                    <span class="pull-left header-help">
                        <i class="fa fa-question-circle header-icon"></i>
                        <span>{{ help }}</span>
                    </span>-->
                </div>
                <div class="col-sm-4 text-center">
                    <h4 class="navbar-text">
                        <img src="./media/images/logo.png" height="25px"/>
                        <span>{{ header }}</span>
                    </h4>
                </div>
                <div class="col-sm-4 header-item text-right">
                    <!-- DE16957 https://rally1.rallydev.com/#/36503486296ud/detail/defect/59556929940
                    <span id="settings-btn" class="pull-right header-settings">
                        <span>{{ settings }}</span>
                        <i class="fa fa-cog header-icon"></i>
                    </span>-->
                </div>
            </div>
        </div>
    </nav>

    <div class="container-fluid home">
        <div class="row row-01">
            <div class="col-xs-3">
                <div class="clearfix">
                    <div class="pull-left site-image">
                        <img src="./media/images/doctor.png" width="64px" height="64px" />
                    </div>
                    <div class="pull-left site-text">
                        <div><strong>{{ username }}</strong></div>
                        <div class="text-muted">{{ role }}</div>
                    </div>
                </div>
            </div>

            <div id="back" class="col-xs-1 text-center">
                <span><i class="fa fa-home"></i></span>
            </div>

            <div id="content-header" class="col-xs-7">
                <span>{{ patient }} <bdo dir='ltr'>{{ patientNumber }}</bdo> ({{ patientInitials }}) - {{ visits }}</span>
            </div>

            <div id="transmit" class="col-xs-1 text-center">
                <span id="pending-transmission-count"></span>
                <span><i class="fa fa-refresh icon"></i></span>
            </div>
        </div>
    </div>

    <div class="container-fluid snap-bottom">
        <div class="row row-02">
            <div class="col-xs-3">
                <div class="list-group">
                    <!-- Start Visit -->
                    <button id="start-visit" class="list-group-item" disabled>
                        <i class="fa fa-play"></i>
                        {{ startVisit }}
                        <i class="fa fa-circle pull-right"></i>
                    </button>

                    <!-- Skip Visit -->
                    <button id="skip-visit" class="list-group-item" disabled>
                        <i class="fa fa-forward"></i>
                        {{ skipVisit }}
                        <i class="fa fa-circle pull-right"></i>
                    </button>
                </div>
                <!-- / .list-group -->

                <div class="detail-list">
                    <dl class="dl-horizontal">
                        <!-- Study Version -->
                        <dt>{{ studyVersion }}</dt>
                        <dd>{{ studyVersionVal }}</dd>

                        <!-- Protocol -->
                        <dt>{{ protocol }}</dt>
                        <dd>{{ protocolVal }}</dd>

                        <!-- Site -->
                        <dt>{{ site }}:</dt>
                        <dd>{{ siteCode }}</dd>

                        <!-- Sponsor -->
                        <dt>{{ sponsor }}</dt>
                        <dd>{{ sponsorVal }}</dd>
                    </dl>
                </div>

                <div id="timeTravel">
                    <span class="ui-title"></span>
                </div>
            </div>

            <div class="col-xs-9">
                <div class="table-wrapper fill-container"></div>
            </div>
        </div>
    </div>
</script>
