/*****************************************************
 ** Shared styles for Multiple Choice Widgets:
 **     CheckBox, RadioButton, NRS, etc.
*****************************************************/

/* CheckBox, RadioButton, CustomCheckBox, CustomRadioButton, and NumericRatingScale (shared styles) */
div.CheckBox .btn,
div.RadioButton .btn,
div.NumericRatingScale .btn,
div.CustomCheckBox .btn,
div.CustomRadioButton .btn {
  background-color: #E5F4FA;
  text-align: inherit;
  border: 2px solid #DCF0F7;
  white-space: normal;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

div.CheckBox div.icon,
div.RadioButton div.icon {
  font-size: 2em;
  margin: 0;
  padding: 0 10px 0 10px;
  display: inline-block;
  min-width: -webkit-min-content;
  min-width: min-content;
}

div.CheckBox .btn label,
div.RadioButton .btn label,
div.NumericRatingScale .btn label,
div.CustomCheckBox .btn label,
div.horizontal-buttons .btn label,
div.CustomRadioButton .btn label{
  padding: 5px;

  cursor: inherit;

  /* Remove bootstrap's extra margin */
  margin-bottom: 0;
}

div.CheckBox .active.btn,
div.RadioButton .active.btn,
div.CustomCheckBox .active.btn,
div.NumericRatingScale .active.btn,
div.CustomRadioButton .active.btn {
  background-color: #00ABD7;
  color: #FFFFFF;
  border-color: #0179A9;
}

div.CheckBox .btn-lg label,
div.RadioButton .btn-lg label {
  padding: 8px;
}

/*** Shared CheckBox and RadioButton (with FontAwesome icon) ***/
/* hide normal controls */
div.CheckBox input[type=checkbox],
div.RadioButton input[type=radio],
div.NumericRatingScale input[type=radio],
div.CustomCheckBox input[type=checkbox],
div.CustomRadioButton input[type=radio] {
  display: none;
}

div.CheckBox input[type=checkbox] + div.icon:before,
div.RadioButton input[type=radio] + div.icon:before {
  font-family: FontAwesome, sans-serif;
  color: #FFFFFF;
}

/*** CheckBox (with FontAwesome Icon) ***/
div.CheckBox input[type=checkbox] + div.icon:before {
  content: "\f0c8";
}

div.CheckBox input[type=checkbox]:checked + div.icon:before {
  content: "\f14a";
}

/*** RadioButton (with FontAwesome Icon) ***/
div.RadioButton input[type=radio] + div.icon:before {
  content: "\f10c";
}

div.RadioButton input[type=radio]:checked + div.icon:before {
  content: "\f192";
}

/** CustomCheckBox **/

/*CustomRadioButton, CustomCheckBox */
div.CustomRadioButton,
div.CustomCheckBox {
  display: block;
  text-align: center; /* Text centered inside the buttons */
}

/* Radio and checkbox input element style*/
div.CustomRadioButton input,
div.CustomCheckBox input {
  display: block; /* The element will be not displayed at all */
}

/* button text style */
div.CustomRadioButton label.radio-text,
div.CustomCheckBox label.checkbox-text {
  font-weight: normal;
}

/* Corner radius of buttons */
div.CustomRadioButton div.btn,
div.CustomCheckBox div.btn {
  -moz-border-radius: .6em; /* Mozilla's Firefox support */
  -webkit-border-radius: .6em; /* Webkit support*/
  border-radius: .6em;
}

div.CustomCheckBox label.checkbox-text,
div.CustomRadioButton label.radio-text {
  text-align: center;
}

/*** NumericRatingScale (NRS) ***/
div.NumericRatingScale {
  margin: 0;
  list-style: none;
  display: block;
  text-align: center;
}

.NRS-Container,
.horizontal-buttons
{
  display: flex;
  margin: auto;
  max-width: 100%;
  align-items: center;
}

.NRS-Placeholder.left .marker {
  text-align: right;
  margin-right: 15px;
}

.NRS-Placeholder.right .marker {
  text-align: left;
  margin-left: 15px;
}

div.NumericRatingScale div.markers {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 100%;
}

div.NumericRatingScale .ui-block-a,
div.NumericRatingScale .ui-block-b {
  margin: 0;
}

div.NumericRatingScale .inside,
div.NumericRatingScale .markers .marker,
div.NumericRatingScale .outside {
  display: inline-block;
}

div.horizontal-buttons,
div.NumericRatingScale fieldset {
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

div.horizontal-buttons .btn,
div.NumericRatingScale .btn {
  flex-grow: 1; /* spread evenly by default */
  width: auto;

  /* remove any padding, that would alter how the content is laid out */
  padding-left: 0;
  padding-right: 0;

  label {
    padding-left: 0;
    padding-right: 0;
  }
}

div.NumericRatingScale input[type=radio] {
  display: none;
}

div.NumericRatingScale .icon,
div.CustomRadioButton .icon,
div.CustomCheckBox .icon {
  display: none;
}

div.NumericRatingScale label,
div.CustomCheckBox label,
div.CustomRadioButton label {
  cursor: pointer;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  max-width: inherit;
}

div.NumericRatingScale .btn,
div.CustomCheckBox .btn,
div.CustomRadioButton .btn {
  height: 45px;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  display: inline-flex;
  justify-content: center;
  flex-basis: 0;
}

div.NumericRatingScale .btn-block,
div.horizontal-buttons .btn-block
{
  width: auto;
}

div.NumericRatingScale .btn-block {
  margin: 0;
}

div.horizontal-buttons .btn-block {
  margin-top: 0;
}

/** Mini vertical buttons **/
div.vertical-buttons-mini label.btn {
  font-size: .8em;
  padding: 0px;
  margin: 0px;
}

div.NumericRatingScale .arrow-container {
  font-family: FontAwesome, sans-serif;
  display: none;
}

div.NumericRatingScale .markers {
  margin: auto;
}

div.NumericRatingScale .markers.above {
  align-items: flex-end;
}

div.NumericRatingScale .markers.below {
  align-items: flex-start;
}

div.NumericRatingScale .markers.outside .marker-text {
    text-align: center;
    max-width: 100%;
}

body[dir='ltr'],
body[dir='rtl'] .ignore-rtl {
  div.NumericRatingScale .markers.inside .marker-left .arrow-container {
      text-align: left;
  }

  div.NumericRatingScale .markers.inside .marker-right .arrow-container {
      text-align: right;
  }

  div.NumericRatingScale .markers.outside .marker-left .arrow-container {
      text-align: right;
      margin-right: -0.5em;
  }

  div.NumericRatingScale .markers.outside .marker-right .arrow-container {
      text-align: left;
      margin-left: -0.5em;
  }

  div.NumericRatingScale .markers.outside .marker-left .marker-text {
    float: right;
  }

  div.NumericRatingScale .markers.outside .marker-right .marker-text {
    float: left;
  }
}

body[dir='rtl'] {
  div.NumericRatingScale .markers.inside .marker-left .arrow-container {
      text-align: right;
  }

  div.NumericRatingScale .markers.inside .marker-right .arrow-container {
      text-align: left;
  }

  div.NumericRatingScale .markers.outside .marker-left .arrow-container {
      text-align: left;
      margin-left: -0.5em;
  }

  div.NumericRatingScale .markers.outside .marker-right .arrow-container {
      text-align: right;
      margin-right: -0.5em;
  }

  div.NumericRatingScale .markers.outside .marker-left .marker-text {
    float: left;
  }

  div.NumericRatingScale .markers.outside .marker-right .marker-text {
    float: right;
  }
}




div.NumericRatingScale .arrow-container.up:before {
  content: '\f176';
}

div.NumericRatingScale .arrow-container.down:before {
  content: '\f175';
}