.vas-pointer {
    z-index: 1;
    opacity: 0.99;
}

.vas-canvas {
    position: absolute;
    z-index: 0;
}

canvas.hvas{
    background-color : white;
    display          : block;
    width            : 100%;
    margin           : 0;
}

canvas.vvas {
    background-color : white;
    display          : block;
    height            : 100%;
    margin           : 0;
    direction        : ltr;
    // DE17680 Hide VVAS until everything is fully setup and rendered.
    visibility: hidden;    
}

/* Enable hardware acceleration on VAS canvas containers */
.vvas-canvas-container, .widget.hvas, .eq5d-container {
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}

.widget.hvas {
    /* Relative position keeps absolute positioned canvases within bounds */
    position: relative;

    /* handles its own touch events */
    touch-action:none;
    -ms-touch-action:none;
    
    /* Merge arrows with control */
    div.vas-label-above + #arrowsCanvas {
        position: absolute;
    }
    div.vas-label-above ~ #vasCanvas {
        background-color: transparent;
    }

    .vas-label.row.center {
        margin: auto;

        div {
            padding-left: 0;
            padding-right: 0;
        }
    }
    
    .vas-label.row.center div p {
        text-align: center;
    }

    .vas-label.row div {
        width: auto;
    }
}

body[dir='ltr'],
body[dir='rtl'] .ignore-rtl {
    .widget.hvas {
        .vas-label.row {
            div {
                width: auto;
            }
            div.text-left {
                float: left;
            }
            div.text-right {
                float: right;
            }
        }

    }
}


body[dir='rtl']{
    .widget.hvas {
        .vas-label.row {
            div.text-left {
                float: right;
            }
            div.text-right {
                float: left;
            }
        }
    }
}


div#questionnaire.VVAS {
    position: absolute;

    /* respect the container div's padding */
    padding: inherit;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    section {
        height: 100%;

        .question {
            height: 100%;
            display: flex;
            flex-direction: column;

            .widget {
                position: relative;
                flex-grow: 100;

                /* handles its own touch events */
                touch-action:none;
                -ms-touch-action:none;

                .vvas-container {
                    position:absolute;

                    padding: inherit;

                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;

                    display: flex;
                    flex-direction: column;
                    align-content: center;

                    div.vvas-canvas-container {
                        flex-grow: 100;
                    }
                }
            }

        }
    }
}