body[dir='ltr'],
body[dir='rtl'] .ignore-rtl {

    .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
        float: left;
    }

    @media (min-width: 768px) {
        .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
            float: left;

            .dl-horizontal dt {
                float: left;
            }
        }
    }

    .left {
        float   : left;
    }

    .pull-left {
        float: left !important;
    }

    .pull-right {
        float: right !important;
    }

    &.subheader {
        text-align: left;
    }

    .text-left {
        text-align: left !important;
    }

    .text-right {
        text-align: right !important;
    }

    .admin-icon {
        padding-left: 35px;
        background-position: left 5px center !important;
    }

    .list-group {
        padding-left: 0;
    }

    .noty_message {
       .glyphicon, .fa {
           margin-right: 10px;
       }
    }

    .container-fluid {
        &.navbar-secondary {
            .sync-item {
                text-align: right;
            }
        }
    }

    .has-feedback .form-control {
        padding-right: 42.5px;
    }

    .form-control-feedback {
        right: 0;
    }

    #forgot-password , #unlock-code{
        float: right;
    }

    .select2-container--default .select2-selection--single .select2-selection__arrow {
        right: 10px;

        b {
            left: 50%;
            margin-left: -4px;
        }
    }

    #set-alarms-page {
        >.container-fluid {
           .list-group-item {
               .navigate-right {
                   span {
                       &:first-child {
                           padding-right: 6.625rem;
                       }

                       &:last-child {
                           &.glyphicon-menu-right, &.direction-right {
                               width: initial;
                               &:before {
                                    content: none;
                                }
                           }
                       }
                   }
               }
           }
        }
    }

    li.select2-results__option,
    #set-time-zone-page {
        .tz-value-dropdown {
            float: left;
        }
    }

    .ui-datebox-container {
        direction: ltr;
    }

}

