<!-- LANGUAGE SELECTION -->
<script id="screenshot-template" type="text/template">
    <% include ./screenshot-template-partials/sitepad-partial %>
</script>

<!-- MODE SELECTION -->
<script id="screenshot-template-mode-selection" type="text/template">
    <% include ./screenshot-template-partials/sitepad-partial %>
</script>

<!-- DIARY SELECTION -->
<script id="screenshot-template-diary-selection" type="text/template">
    <% include ./screenshot-template-partials/sitepad-partial %>
</script>

<!-- CORE SCREEN SELECTION -->
<script id="screenshot-template-core-screen-selection" type="text/template">
    <% include ./screenshot-template-partials/sitepad-partial %>
</script>
