@import (reference) '../../app/sitepad/less/ert';

@addon-border-color: #97cddc;
@addon-bg-color: #b8e1ec;
@glyph-color-blue: #0583af;
@orangey-red: #f54c2b;
@orangey-red-light: #faad9e;
@form-elem-height: 40px;
@lemon-green: #29a452;
@blue-inverse: #024e80;
@blue-dark: #003963;

#screenshot-config,
#screenshot-config-diary,
#screenshot-config-mode-selection,
#screenshot-config-core-screens {
    height: 100%;

    .subheader {
        margin-bottom: 10px;
    }

    &:extend(.activation all);

    #screenshot-checkbox-group {
        background-color: @white;
        color: @gray;
    }
}

#screenshot-config-options {
    .screenshot-checkbox-container {

        > div:first-child {
            margin-bottom: .625em;
        }

        .select-link {
            font-size: 1.2em;
            color: @blue-inverse;
            margin-bottom: .625em;

            span {
                text-decoration: underline;
                cursor: pointer;
            }
        }
    }

    #screenshot-checkbox-group {
        padding: 0 10px;
        border: 1px solid #aaa;
        border-radius: 4px;
        height: auto;
        max-height: 300px;
        overflow-y: auto;

        li {
            list-style-type: none;
            font-size: 1.5em;
            padding: 10px 0;
            cursor: pointer;
            border-bottom: 1px solid #eee;
            color: #555;

            input[type="checkbox"] {
                margin-right: 5px;
                width: 25px;
                height: 25px;
                vertical-align: text-bottom;
            }

            span {
                // font-size:
            }

            input[disabled="disabled"] + span{
                color: #ccc;
            }
        }
    }
}
